<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="darkreader-lock">
    <style>@font-face{font-family:Asap;src:url(../../Dist/Asap-Regular.woff2)}html{background-color:#000;color:#fff;font-family:Asap}html a{text-decoration:none;padding:0 9px;color:#fff}html a:hover{color:grey;text-decoration:none}footer{margin-top:-35px;color:#fff}footer a{text-decoration:none;padding:0 15px;color:#fff}footer a:hover{color:grey;text-decoration:none}</style>
    <style>html{background-color:#000;width:100vw;height:100vh;overflow:none;color:#fff;font-family:Asap}.page{position:fixed;width:100vw;left:0;top:100px;text-align:center}.logo{height:500px}.text a{text-decoration:none;color:#fff}.text a:hover{color:grey;text-decoration:none}</style>
    <title>404</title>
</head>
<body>
    <div class="page">
        <header>
            <div>
                <img class="logo" src="https://cfedge-cdn.vee.city/content/KQgCslvqJtiMCkBKQmZp/t2v.ch/img/404_minified.webp" alt="logo" />
            </div>
        </header>
        <footer>
            <div class="text">
                <a href="/">return to home</a>
            </div>
            <p>2023 &copy; vee</p>
        </footer>
    </div>
</body>
<noscript>
    <img src="https://analytics.metrics.prod.au.vee.city/ingress/f848d3ea-6b3e-4f80-934d-9f898b9ffcad/pixel.gif">
</noscript>
<script defer src="https://analytics.metrics.prod.au.vee.city/ingress/f848d3ea-6b3e-4f80-934d-9f898b9ffcad/script.js"></script>
</html>