<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="darkreader-lock">
    <link rel="icon" href="../res/imgs/t2v_square_minified_favicon.webp">
    <link rel="stylesheet" href="../res/style/web.min.css" />
<title>interwebs</title>
</head>
<body>
    <div id="page_container">
        <div class="page">
            <header>
                <a href="/"><img class="logo" src="https://cdn.t2v.city/content/KQgCslvqJtiMCkBKQmZp/t2v.ch/img/t2v_logo.webp" alt="logo" /></a>
                <h1>Publicly Available Services</h1>
                <p>Here you can find all the open services from t2v. Mostly privacy and performance based front-end alternatives to popular services.</p>
                <p>Please make sure to read the <span><a style="text-decoration-line: underline;" href="/legal#terms-of-service">TOS</a></span> and <span><a style="text-decoration-line: underline;" href="/legal#privacy-policy">Privacy Policy.</a></span></p>
            </header>
            <div id="overlay">
                <div class="overlaypage" style="height: fit-content;width: fit-content; padding-left: 5px; padding-right: 5px; margin-bottom: 10px;">
                    <div style="display: inline-flex;">
                <a href="https://nitter.au.pub.t2v.city">
                    <div class="servicebox" style="width: 100px;">
                        <img src="https://cdn.t2v.city/content/KQgCslvqJtiMCkBKQmZp/t2v.ch/img/nitter.png" style="width: 70px;" />
                        <h3>Nitter <span><img src="https://cdn.t2v.city/content/KQgCslvqJtiMCkBKQmZp/t2v.ch/img/external_link.png" style="width: 15px;" alt="external_link"/></span></h3>
                        <p>A privacy focused front-end for twitter</p>
                    </div>
                </a>
                <a href="https://proxitok.au.pub.t2v.city">
                    <div class="servicebox" style="width: 100px;">
                        <img src="https://cdn.t2v.city/content/KQgCslvqJtiMCkBKQmZp/t2v.ch/img/proxitok.webp" style="width: 70px;" />
                        <h3>Proxitok <span><img src="https://cdn.t2v.city/content/KQgCslvqJtiMCkBKQmZp/t2v.ch/img/external_link.png" style="width: 15px;" alt="external_link"/></span></h3>
                        <p>A privacy focused front-end for Tiktok</p>
                    </div>
                </a>
                <a href="https://libreddit.au.pub.t2v.city">
                    <div class="servicebox" style="width: 100px;">
                        <img src="https://cdn.t2v.city/content/KQgCslvqJtiMCkBKQmZp/t2v.ch/img/libreddit.png" style="width: 70px;" />
                        <h3>libreddit <span><img src="https://cdn.t2v.city/content/KQgCslvqJtiMCkBKQmZp/t2v.ch/img/external_link.png" style="width: 15px;" alt="external_link"/></span></h3>
                        <p>A privacy focused front-end for Reddit</p>
                    </div>
                </a>
            </div>
            <div style="display: inline-flex; padding-top: 10px;    ">
                <a href="https://libremdb.au.pub.t2v.city">
                    <div class="servicebox" style="width: 100px;">
                        <img src="https://cdn.t2v.city/content/KQgCslvqJtiMCkBKQmZp/t2v.ch/img/libremdb.png" style="width: 70px;" />
                        <h3>Libremdb <span><img src="https://cdn.t2v.city/content/KQgCslvqJtiMCkBKQmZp/t2v.ch/img/external_link.png" style="width: 15px;" alt="external_link"/></span></h3>
                        <p>A privacy focused front-end for IMBD</p>
                    </div>
                </a>
                <a href="https://wikiless.au.pub.t2v.city">
                    <div class="servicebox" style="width: 100px;">
                        <img src="https://cdn.t2v.city/content/KQgCslvqJtiMCkBKQmZp/t2v.ch/img/wikiless.png" style="width: 70px; height: 70px;" />
                        <h3>Wikiless <span><img src="https://cdn.t2v.city/content/KQgCslvqJtiMCkBKQmZp/t2v.ch/img/external_link.png" style="width: 15px;" alt="external_link"/></span></h3>
                        <p>A performant front-end for Wikipedia</p>
                    </div>
                </a>
                <a href="https://rimgo.au.pub.t2v.city">
                    <div class="servicebox" style="width: 100px;">
                        <img src="https://cdn.t2v.city/content/KQgCslvqJtiMCkBKQmZp/t2v.ch/img/rimgo.svg" style="width: 70px;" />
                        <h3>Rimgo <span><img src="https://cdn.t2v.city/content/KQgCslvqJtiMCkBKQmZp/t2v.ch/img/external_link.png" style="width: 15px;" alt="external_link"/></span></h3>
                        <p>A privacy focused front-end for Imgur</p>
                    </div>
                </a>
            </div>
            <div style="display: inline-flex; padding-top: 10px;    ">
                <a href="https://anonymous-overflow.au.pub.t2v.city">
                    <div class="servicebox" style="width: 100px;">
                        <img src="https://cdn.t2v.city/content/KQgCslvqJtiMCkBKQmZp/t2v.ch/img/anonymousoverflow.png" style="width: 70px;" />
                        <h3>AnonOF <span><img src="https://cdn.t2v.city/content/KQgCslvqJtiMCkBKQmZp/t2v.ch/img/external_link.png" style="width: 15px;" alt="external_link"/></span></h3>
                        <p>A performant front-end for Stackoverflow</p>
                    </div>
                </a>
                <a href="https://gothub.au.pub.t2v.city">
                    <div class="servicebox" style="width: 100px;">
                        <img src="https://cdn.t2v.city/content/KQgCslvqJtiMCkBKQmZp/t2v.ch/img/github.png" style="width: 70px; height: 70px;" />
                        <h3>Gothub <span><img src="https://cdn.t2v.city/content/KQgCslvqJtiMCkBKQmZp/t2v.ch/img/external_link.png" style="width: 15px;" alt="external_link"/></span></h3>
                        <p>A privacy focused front-end for Github</p>
                    </div>
                </a>
                <a href="https://invidious.au.pub.t2v.city">
                    <div class="servicebox" style="width: 100px;">
                        <img src="https://cdn.t2v.city/content/KQgCslvqJtiMCkBKQmZp/t2v.ch/img/invidious.svg" style="width: 70px;" />
                        <h3>Invidious <span><img src="https://cdn.t2v.city/content/KQgCslvqJtiMCkBKQmZp/t2v.ch/img/external_link.png" style="width: 15px;" alt="external_link"/></span></h3>
                        <p>A privacy front-end for Youtube</p>
                    </div>
                </a>
            </div>
                    <p style="font-size: 15px">All services are hosted in Australia on T2V infrastructure</p>
                </div>
                <footer>
                    <a href="/">back to home</a>
                    <p>2023 &copy; t2v</p>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>
