<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="../res/imgs/t2v_square_minified_favicon.webp">
    <link rel="stylesheet" href="../res/style/base.min.css" />
    <link rel="stylesheet" href="../res/style/legal.min.css" />
<script>
  var _paq = window._paq = window._paq || [];
  _paq.push(["setCookieDomain", "*.t2v.city"]);
  _paq.push(["setDomains", ["*.t2v.city"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//targets-userservices.t2v.city/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//targets-userservices.t2v.city/matomo.php?idsite=1&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <title>legal</title>
</head>
<body>
    <div class="page">
        <header>
            <a href="/"><img class="logo" src="https://cdn.t2v.city/content/KQgCslvqJtiMCkBKQmZp/t2v.ch/img/t2v_logo.webp" alt="logo" /></a>
            <h1>t2v Legal Page</h1>
        </header>
        <main style="text-align: justify;">
            <div id="privacy">
                <h2>Privacy Policy</h2>
                <p>t2v and all of it subsidaries use the open-source analytics platform Matomo which is hosted at user-stats.t2vapis.ch</p>
                <p>Matomo is an open source web analytics platform. A web analytics platform is used by a website owner in order to measure, collect, analyse and report visitors data for purposes of understanding and optimizing their website.</p>
                <p>Matomo is used to analyse the behaviour of the website visitors to identify potential pitfalls; not found pages, search engine indexing issues, which contents are the most appreciated… Once the data is processed (number of visitors reaching a not found pages, viewing only one page…), Matomo is generating reports for website owners to take action, for example changing the layout of the pages, publishing some fresh content… etc.</p>
                <p>Matomo is processing the following personal data - Cookies, IP address, User ID, Country of the user, Date and time, Title of the page being viewed, URL of the page being viewed, URL of the page that was viewed prior to the current page, Screen resolution, Time in local timezone, Files that were clicked and downloaded, Link clicks to an outside domain, Country, region, city, Main Language of the browser, Type of browser.</p>
                <p>The processing of personal data with Matomo is based on legitimate interests. As Matomo is processing personal data on legitimate interests, you can exercise the following rights - Right of access: you can ask us at any time to access your personal data, Right to erasure: you can ask us at any time to delete all the personal data we are processing about you, Right to object: you can object to the tracking of your personal data by using the opt-out banner on any page of our site.</p>
                <p>Processing your personal data such as cookies is helping us identify what is working and what is not on our website. For example, it helps us identify if the way we are communicating is engaging or not and how we can organize the structure of the website better. Our team is benefiting from the processing of your personal data, and they are directly acting on the website</p>
                <p>t2v Matomo data is hosted in Australia and in compliance with the Australian Privacy Act of 1988 avaliable here: https://www.legislation.gov.au/Series/C2004A03712</p>
                <a href="https://targets.userservices.t2v.city/index.php?module=CoreAdminHome&action=optOut&language=en&backgroundColor=&fontColor=&fontSize=&fontFamily=" "">You can withdraw at any time your consent by clicking here</a>
                <p>If you think that the way we process your personal data with Matomo analytics is infringing the law, you have the right to lodge a complaint with a supervisory authority.</p>
                <p>If you wish us to not process any personal data with Matomo, you can opt-out from it at any time. There will be no consequences at all regarding the use of our website.</p>
                <p>t2v Matomo is not doing any profiling across all services.</p>
                <br />
            </div>
            <div id="tos">
                <h2>Terms of Service</h2>
            </div>
        </main>
        <footer>
            <a href="/">back to home</a>
            <p>2022 &copy; t2v</p>
        </footer>
    </div>
</body>
</html>
