<!doctype html>
<html lang="en">

<head><meta http-equiv="Content-Type" content="text/html; charset=us-ascii">

  <title>t2v.city</title>
  <style>
  @font-face {
    font-family: Asap;
    src: url('/res/font/Asap-Regular.woff2');
  }
  html {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    justify-items: center;
    align-items: center;
    #text-align: center;
    color: white;
    font-family: Asap;
  }
  </style>
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["setCookieDomain", "*.t2v.city"]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//targets-userservices.t2v.city/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//targets-userservices.t2v.city/matomo.php?idsite=1&amp;rec=1" style="border:0;" alt="" /></p></noscript>
</head>

<body>
  <a href="/"><img style="height:70px;" src="https://cdn.t2v.city/content/KQgCslvqJtiMCkBKQmZp/t2v.ch/img/t2v_logo.png" alt="logo" /></a>
  <h1>hi there</h1>
  <p>email <strong>me [at] t2v.ch </strong> to contact me</p>
  <p style="width:200px;color:lime;display:inline-block;white-space:nowrap;margin:0 5px 0 5px">currently listening to: {{ "nothing" if not data[3] }}<span><marquee scrollamount="6" onmouseover="this.stop();" onmouseout="this.start();" style="font-size: 14px; color: white" color: white;"><span style="{{ "display: none;" if not data[3] }}"><a style="padding: 0; color: white;" target="_blank" href="{{ data[4] }}">{{ data[0] }} <span><img src="/res/imgs/external_link.png" style="width: 10px"/></span></a><span style="color: grey;"> In Album </span><a style="padding: 0; color: white;" target="_blank" href="{{ data[5] }}">{{ data[1] }} <span><img src="/res/imgs/external_link.png" style="width: 10px"/></span></a><span style="color: grey;"> By </span><a style="padding: 0; color: white;" target="_blank" href="{{ data[6] }}">{{ data[2] }} <span><img src="/res/imgs/external_link.png" style="width: 10px"/></span></a></span></marquee></span></p>
</body>

</html>