<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="../res/imgs/t2v_square_minified_favicon.webp">
	<link rel="stylesheet" href="../res/style/base.min.css" />
	<link rel="stylesheet" href="../res/style/main.min.css" />
	<style>
	.link-list a {
		border-left: 1px solid white;
	}
	.contact a {
		border-left: 1px solid white;
	}
	</style>
<script>
  var _paq = window._paq = window._paq || [];
  _paq.push(["setCookieDomain", "*.t2v.city"]);
  _paq.push(["setDomains", ["*.t2v.city"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//targets-userservices.t2v.city/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//targets-userservices.t2v.city/matomo.php?idsite=1&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <title>home</title>
</head>
<body>
	<div id="page_container">
		<div id="pattern2" class="pwetty_pettern" style="height: 22em;"></div>
		<div class="page">
			<header>
				<a href="/"><img class="logo" src="https://cdn.t2v.city/content/KQgCslvqJtiMCkBKQmZp/t2v.ch/img/t2v_logo.webp" alt="logo" /></a>
			</header>
			<div class="einfo">
				<a href="/legal">legal</a>
				<a href="https://nodes.t2v.city">status</a>
				<a href="mailto:me@t2v.ch">email</a>
				<a href="/?action=Latest"> back</a>
			</div>
			<main style="margin-top: 2px;">
				<div class="link-list">
					<a style="border-left: none" href="https://ttea.dev" target="_blank">git <span><img src="/res/imgs/external_link.png" style="width: 13px"/></span></a>
					<a href="https://portal.archive.t2v.city" target="_blank">archive <span><img src="/res/imgs/external_link.png" style="width: 13px"/></span></a>
					<a href="/interwebs">web</a>
				</div>
				<div class="contact">
					<a style="border-left: none" href="/about">about</a>
					<a id="social" href="/donate">donate</a>
					<a href="/space">space</a>
				</div>
			</main>
			<main style="margin-bottom: 40px; border-radius: 10px">
				<p style="font-size: 13px; padding: 2px; margin: 0px;"><a href="/post-{{ post }}">open latest post <span><img src="/res/imgs/external_link.png" style="width: 10px"/></span></a><span>-<a style="" href="/posts">view all</a></span></p>
			</main>
			<footer style="margin-bottom: 20px;">
				<p>2023 &copy; t2v</p>
			</footer>
			<p style="font-size: 12px; position: absolute; color: #1DB954">{{ "currently not listening to anything" if not data[3] else "currently listening to: " }}<span style="{{ "display: none;" if not data[3] }}"><marquee onmouseover="this.stop();" onmouseout="this.start();" style="color: white;"><a style="padding: 0;" href="{{ data[4] }}">{{ data[0] }}</a><span style="color: dimgrey;"> In Album </span><a style="padding: 0;" href="{{ data[5] }}">{{ data[1] }}</a><span style="color: dimgrey;"> By </span><a style="padding: 0;" href="{{ data[6] }}">{{ data[2] }}</a></marquee></span></p>
		</div>
	</div>
</body>
</html>