<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="../res/imgs/t2v_square_minified_favicon.webp">
    <link rel="stylesheet" href="../res/style/base.min.css" />
    <link rel="stylesheet" href="../res/style/social.min.css" />
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setCookieDomain", "*.t2v.city"]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//targets-userservices.t2v.city/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//targets-userservices.t2v.city/matomo.php?idsite=1&amp;rec=1" style="border:0;" alt="" /></p></noscript>
<title>space</title>
</head>
<body>
    <div id="page_container">
        <div class="page">
            <header>
                <a href="/"><img class="logo" src="https://cdn.t2v.city/content/KQgCslvqJtiMCkBKQmZp/t2v.ch/img/t2v_logo.webp" alt="logo" /></a>
                <h1>Publicly Available Services</h1>
            </header>
            <div id="overlay">
                <div class="overlaypage" style="text-align: left">
                  <h2>t2v.city</h2>
                  <ul>
                    <li><h3>Core</h3></li>
                    <ul>
                      <li><a href="https://t2v.city">t2v.city</a></li>
                      <li><a></a></li>
                    </ul>
                    <li><h3>Archival Services</h3></li>
                    <ul>
                      <li><a href="https://portal.archive.t2v.city">portal.archive</a></li>
                      <li><a href="https://files.archive.t2v.city">files.archive</a></li>
                      <li><a href="https://git.archive.t2v.city">git.archive</a></li>
                    </ul>
                  </ul>
                </div>
                <footer>
                    <a href="/">back to home</a>
                    <p>2022 &copy; t2v</p>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>
