  @font-face {
    font-family: Asap;
    src: url('/res/font/Asap-Regular.woff2');
  }
  html {
      background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    justify-items: center;
    align-items: center;
    #text-align: center;
    color: white;
    font-family: Asap;
  }
.link {
  color: rgb(128, 128, 128);
  text-decoration: none;
}
    .link:hover {
      color: white;
      text-decoration: underline;
    }
#wrap {
  background-color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  }
#albumtab {
  clip-path: polygon(10% 0%, 0% 100%, 90% 100%, 100% 0%);

  position: absolute;

  left: 0;
  z-index: 1000;
  background-color: limegreen;
  color: black;
  width: 8em;

  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: bottom left;
  border-top-right-radius: 4px;
  margin: 52% 0;
  transition: left 0.5s ease;
}
#songtab {
  clip-path: polygon(10% 0%, 0% 100%, 90% 100%, 100% 0%);

  position: absolute;

  left: 0;
  z-index: 1000;
  background-color: limegreen;
  color: black;
  width: 8em;

  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: bottom left;
  border-top-right-radius: 4px;
  margin: 0 0;
  transition: left 0.5s ease;
}
* {
  scrollbar-color: #8fff70 green;
  scrollbar-width: thin;
}
#slideout {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #21b721;
  color: black;
  overflow: auto;
  transition: left 0.5s ease;
  z-index: -1;
  border-radius: 5px 0 0 5px;
}

.sl {
  border: 0;
  border-top: 2px solid darkgreen;
}

.slideout-active #slideout {
  left: -100%;
}
.slideout-active #albumtab {
    left: -100%;
}
.slideout-active #songtab {
    left: -100%;
}
#album {
    position: relative;
    height: 100%;
    width: 100%;
    max-height: 50%;
    max-width: 124px;
    margin: 12%;
}
#vinyl {
		position: absolute;
		top: 2.5%;
		left: 36%;
		z-index: 0;
		width: 95%;
		height: 95%;
		display: block;
		background-image: url('https://content.vee.city/content/kLhJNvxNYHqnH0J7zHy2/vee.city/Images/Optimised/V2_vinyl_1_optimised-1.webp');
		background-size: 106% 106%;
		background-position: center;
		box-shadow: 0 0 20px 4px rgba(0,0,0,0.6);
		border-radius: 50%;
		content: '';
		animation: 5s linear spinThat infinite;
		&::before {
			position: absolute;
			top: 2.5%;
			left: 2.5%;
			z-index: 10;
			width: 95%;
			height: 95%;
			background-image: url('https://content.vee.city/content/kLhJNvxNYHqnH0J7zHy2/vee.city/Images/Optimised/V2_vinyl_0_optimised.webp');
			background-size: 100% 100%;
			border-radius: 50%;
			mix-blend-mode: screen;
			opacity: 0.3;
			content: '';
		}
		#print {
			position: absolute;
			top: 33%;
			left: 33%;
			height: 34%;
			width: 34%;
			box-shadow: inset 0 0 0 5px rgba(150,150,150,0.5);
	background-size: cover;
			border-radius: 50%;
		}
}
@keyframes spinThat {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
    .container {
      display: flex;
      align-items: center;
    }
.current-track__progress {
  width: 70%;
  padding: 0 30px;
  color: #aaaaaa;
  font-size: 11px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

progress[value] {
  --color: green;
  --background: lightgrey;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width:50%;
  margin: 0 10px;
  border-radius: 10em;
  background: var(--background);
}
progress[value]::-webkit-progress-bar {
  border-radius: 10em;
  background: var(--background);
}
progress[value]::-webkit-progress-value {
  border-radius: 10em;
  background: var(--color);
}
progress[value]::-moz-progress-bar {
  border-radius: 10em;
  background: var(--color);
}
.tag {
    display: inline-flex;
      position: fixed;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1000;
        font-size: 15px;
    }
.container_sub {
    font-size: 13px; display: flex; flex-direction: column; align-items: center; justify-content: center;padding-right:20px;
}
.spot_p {
    display: flex; align-items: center;
}
.spot_vector {
    width: 17px; padding-right: 5px;
}
.container_wrap {
    background-color: #189443;
    width: 200px;
    border-radius: 5px;
    max-height: 250px;
    border: 1px solid limegreen;
    border-bottom: 5px solid limegreen;
    margin-left: 15px;
    padding-top: 1px;
}
.track_container_details {
    display:flex;font-size:13px;align-items:center;justify-content:center;margin:-10px 0 10px 0
}
.current-track__progress__bar {
    height:7px;
}
.data_0 {
    color:white;font-size:20px;
}
.data_1 {
    color:lightgray;font-size:15px;
}
.data_2 {
    color: #0eff91;font-size:10px;
}
.hat {
    height:70px;transform: rotate(-30deg);padding-right:20px;vertical-align: middle;
}
.hat_h1 {
    vertical-align: middle;
}
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  display: none;
  margin: 80px;
}
.cacheLoader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid orange;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 1s linear infinite;
  margin: 0 10px 0 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  max-width: 150px;
  white-space: normal;
  word-wrap: break-word;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.tooltip:hover .tooltiptext,
.tooltip .tooltiptext:hover {
  visibility: visible;
  opacity: 1;
}
@media only screen and (max-width: 768px) {
  p {
    font-size: 16px;
  }
}