.page {
    margin: 6rem auto;
    width: 28em;
    max-width: 95vw;
    text-align: center;
    user-select: none !important;
}

.logo {
    margin-bottom: 10px;
    height: 100px;
}

main {
    text-align: left;
}
footer a {
    text-decoration: none;
    padding: 0 15px 0 15px;
    color: white;
}

    footer a:hover {
        color: grey;
        text-decoration: none;
    }