@font-face {
    font-family: Asap;
    src: url('../f/Asap-Regular.woff');
}
@font-face {
    font-family: Asap;
    src: url('../f/Asap-Bold.ttf');
    font-weight: bold;
}
html {
    background-color: #181A1B;
    color: white;
    font-family: Asap;
}
    html a:hover {
        color: grey;
        text-decoration: none;
    }
.page {
    margin: 6rem auto;
    width: 28em;
    max-width: 95vw;
    text-align: center;
    user-select: none !important;
}
.logo {
    margin-bottom: 10px;
    height: 100px;
}
.post {
    display: inline-block;
    border: 1px solid white;
    padding-bottom: 15px;
    padding-left: 10px;
    margin: 10px 0px 10px 0px;
    min-width: 28em;
    text-align: left;
}
    .post a {
        font-size: 15px;
        padding: 3px;
        margin-left: 10px;
        background-color: white;
        color: #181A1B;
        border-radius: 5px;
        text-decoration: none;
        border-bottom: 2px solid grey;
    }
        .post a:hover {
            color: white;
            background-color: grey;
            border-top: 1px solid grey;
            border-bottom: 0px;
            -webkit-box-shadow: inset 0px 4px 0px 0px #0A0E12;
            -moz-box-shadow: inset 0px 4px 0px 0px #0A0E12;
            box-shadow: inset 0px 0px 4px 0px #0A0E12;
        }
.tag { border: 1px solid white; }
footer a {
    text-decoration: none;
    padding: 0px 15px 0px 15px;
    color: white;
}
    footer a:hover {
        color: grey;
        text-decoration: none;
    }
